[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
gunicorn = "*"
psycopg2 = "==2.7.5"
django-heroku = "*"
psycopg2-binary = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
