.section_name {
	border-bottom: 4px solid #ff0000;
}

.form_desc {
	transition: max-height 1s ease;
	max-height: 500px;
}

.hidden_banner {
	max-height: 50px;
}

.hidden_banner:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(transparent 40px, white);
}
